# include <Siv3D/Windows/Resource.hpp>

//////////////////////////////////////////////////////
//
//	Siv3D Engine Resources (DO NOT REMOVE)
//
//////////////////////////////////////////////////////
DefineResource(100, ICON, icon.ico)

//
//	Shaders
//
Resource(engine/shader/d3d11/sprite.vs)
Resource(engine/shader/d3d11/shape.ps)
Resource(engine/shader/d3d11/square_dot.ps)
Resource(engine/shader/d3d11/round_dot.ps)
Resource(engine/shader/d3d11/texture.ps)
Resource(engine/shader/d3d11/bitmapfont.ps)
Resource(engine/shader/d3d11/sdffont.ps)
Resource(engine/shader/d3d11/sdffont_outline.ps)
Resource(engine/shader/d3d11/sdffont_shadow.ps)
Resource(engine/shader/d3d11/sdffont_outlineshadow.ps)
Resource(engine/shader/d3d11/msdffont.ps)
Resource(engine/shader/d3d11/msdffont_outline.ps)
Resource(engine/shader/d3d11/msdffont_shadow.ps)
Resource(engine/shader/d3d11/msdffont_outlineshadow.ps)
Resource(engine/shader/d3d11/msdfprint.ps)
Resource(engine/shader/d3d11/fullscreen_triangle.vs)
Resource(engine/shader/d3d11/fullscreen_triangle.ps)
Resource(engine/shader/d3d11/forward3d.vs)
Resource(engine/shader/d3d11/line3d.vs)
Resource(engine/shader/d3d11/forward3d.ps)
Resource(engine/shader/d3d11/line3d.ps)
Resource(engine/shader/d3d11/copy.ps)
Resource(engine/shader/d3d11/gaussian_blur_9.ps)
Resource(engine/shader/d3d11/apply_srgb_curve.ps)
Resource(engine/shader/d3d11/sky.ps)
Resource(engine/shader/glsl/sprite.vert)
Resource(engine/shader/glsl/shape.frag)
Resource(engine/shader/glsl/square_dot.frag)
Resource(engine/shader/glsl/round_dot.frag)
Resource(engine/shader/glsl/texture.frag)
Resource(engine/shader/glsl/bitmapfont.frag)
Resource(engine/shader/glsl/sdffont.frag)
Resource(engine/shader/glsl/sdffont_outline.frag)
Resource(engine/shader/glsl/sdffont_shadow.frag)
Resource(engine/shader/glsl/sdffont_outlineshadow.frag)
Resource(engine/shader/glsl/msdffont.frag)
Resource(engine/shader/glsl/msdffont_outline.frag)
Resource(engine/shader/glsl/msdffont_shadow.frag)
Resource(engine/shader/glsl/msdffont_outlineshadow.frag)
Resource(engine/shader/glsl/msdfprint.frag)
Resource(engine/shader/glsl/fullscreen_triangle.vert)
Resource(engine/shader/glsl/fullscreen_triangle.frag)
Resource(engine/shader/glsl/forward3d.vert)
Resource(engine/shader/glsl/line3d.vert)
Resource(engine/shader/glsl/forward3d.frag)
Resource(engine/shader/glsl/line3d.frag)
Resource(engine/shader/glsl/copy.frag)
Resource(engine/shader/glsl/gaussian_blur_9.frag)
Resource(engine/shader/glsl/apply_srgb_curve.frag)
Resource(engine/shader/glsl/sky.frag)

//
//	Fonts
//
Resource(engine/font/min/siv3d-min.woff)

//
//	Box-shadow Textures
//
Resource(engine/texture/box-shadow/256.png)
Resource(engine/texture/box-shadow/128.png)
Resource(engine/texture/box-shadow/64.png)
Resource(engine/texture/box-shadow/32.png)
Resource(engine/texture/box-shadow/16.png)
Resource(engine/texture/box-shadow/8.png)

//////////////////////////////////////////////////////
//
//	Siv3D Engine Optional Resources (Can be removed if not required)
//
//////////////////////////////////////////////////////

//
//	Fonts
//
Resource(engine/font/mplus/mplus-1p-thin.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-light.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-regular.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-medium.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-bold.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-heavy.ttf.zstdcmp)
Resource(engine/font/mplus/mplus-1p-black.ttf.zstdcmp)
Resource(engine/font/noto-cjk/NotoSansCJK-Regular.ttc.zstdcmp)
//Resource(engine/font/noto-cjk/NotoSansJP-Regular.otf.zstdcmp)

//
//	Emoji Fonts
//
Resource(engine/font/noto-emoji/NotoColorEmoji.ttf.zstdcmp)
Resource(engine/font/noto-emoji/NotoEmoji-Regular.ttf.zstdcmp)

//
//	Icons
//
Resource(engine/font/fontawesome/fontawesome-brands.otf.zstdcmp)
Resource(engine/font/fontawesome/fontawesome-solid.otf.zstdcmp)
Resource(engine/font/materialdesignicons/materialdesignicons-webfont.ttf.zstdcmp)

//
//	Sound Font
//
Resource(engine/soundfont/GMGSx.sf2.zstdcmp)

//////////////////////////////////////////////////////
//
//	Siv3D App Resources (Your application resources here)
//
//////////////////////////////////////////////////////
Resource(./images/play.png)
Resource(./images/return.png)
Resource(./images/stop.png)
Resource(./images/arrow_right.png)
Resource(./images/arrow_left.png)
Resource(./match_jsons/121.json)
Resource(./match_jsons/122.json)
Resource(./match_jsons/123.json)
Resource(./match_jsons/124.json)
Resource(./match_jsons/125.json)
Resource(./match_jsons/126.json)
Resource(./match_jsons/127.json)
Resource(./match_jsons/128.json)
Resource(./match_jsons/129.json)
Resource(./match_jsons/130.json)
Resource(./match_jsons/131.json)
Resource(./match_jsons/132.json)
Resource(./match_jsons/133.json)
Resource(./match_jsons/134.json)
Resource(./match_jsons/135.json)
Resource(./match_jsons/136.json)
Resource(./match_jsons/137.json)
Resource(./match_jsons/138.json)
Resource(./match_jsons/139.json)
Resource(./match_jsons/140.json)
Resource(./match_jsons/141.json)
Resource(./match_jsons/142.json)
Resource(./match_jsons/143.json)
Resource(./match_jsons/144.json)
Resource(./match_jsons/145.json)
Resource(./match_jsons/146.json)
Resource(./match_jsons/147.json)
Resource(./match_jsons/148.json)
Resource(./match_jsons/149.json)
Resource(./match_jsons/150.json)
Resource(./match_jsons/151.json)
Resource(./match_jsons/152.json)
Resource(./match_jsons/153.json)
Resource(./match_jsons/154.json)
Resource(./match_jsons/155.json)
Resource(./match_jsons/156.json)
Resource(./match_jsons/157.json)
Resource(./match_jsons/158.json)
Resource(./match_jsons/159.json)
Resource(./match_jsons/160.json)
Resource(./match_jsons/161.json)
Resource(./match_jsons/162.json)
Resource(./match_jsons/163.json)
Resource(./match_jsons/164.json)
Resource(./match_jsons/165.json)
Resource(./match_jsons/166.json)
Resource(./match_jsons/167.json)
Resource(./match_jsons/168.json)
Resource(./match_jsons/169.json)
Resource(./match_jsons/170.json)
Resource(./match_jsons/171.json)
Resource(./match_jsons/172.json)
Resource(./match_jsons/173.json)
Resource(./match_jsons/174.json)
Resource(./match_jsons/175.json)
Resource(./match_jsons/176.json)
Resource(./match_jsons/177.json)
Resource(./match_jsons/178.json)
Resource(./match_jsons/179.json)
Resource(./match_jsons/180.json)
Resource(./match_jsons/181.json)
Resource(./match_jsons/182.json)
Resource(./match_jsons/183.json)
Resource(./match_jsons/184.json)
Resource(./match_jsons/185.json)
Resource(./match_jsons/186.json)
Resource(./match_jsons/187.json)
Resource(./match_jsons/188.json)
Resource(./match_jsons/189.json)
Resource(./match_jsons/190.json)
Resource(./match_jsons/191.json)
Resource(./match_jsons/192.json)
Resource(./match_jsons/193.json)
Resource(./match_jsons/194.json)
Resource(./match_jsons/195.json)
Resource(./match_jsons/196.json)
Resource(./match_jsons/197.json)
Resource(./match_jsons/198.json)
Resource(./match_jsons/199.json)
Resource(./match_jsons/200.json)
Resource(./match_jsons/201.json)
Resource(./match_jsons/202.json)
Resource(./match_jsons/203.json)
Resource(./match_jsons/204.json)
Resource(./match_jsons/205.json)
Resource(./match_jsons/206.json)
Resource(./match_jsons/207.json)
Resource(./match_jsons/208.json)
Resource(./match_jsons/209.json)
Resource(./match_jsons/210.json)
Resource(./match_jsons/211.json)
Resource(./match_jsons/212.json)
Resource(./match_jsons/213.json)
Resource(./match_jsons/214.json)
Resource(./match_jsons/215.json)
Resource(./match_jsons/216.json)
Resource(./match_jsons/217.json)
Resource(./match_jsons/218.json)
Resource(./match_jsons/219.json)
Resource(./match_jsons/220.json)
Resource(./match_jsons/221.json)
Resource(./match_jsons/222.json)
Resource(./match_jsons/223.json)
Resource(./match_jsons/224.json)
Resource(./match_jsons/225.json)
Resource(./match_jsons/226.json)
Resource(./match_jsons/227.json)
Resource(./match_jsons/228.json)
Resource(./match_jsons/229.json)
Resource(./match_jsons/230.json)
Resource(./match_jsons/231.json)
Resource(./match_jsons/232.json)
Resource(./match_jsons/233.json)
Resource(./match_jsons/234.json)
Resource(./match_jsons/235.json)
Resource(./match_jsons/236.json)
Resource(./match_jsons/237.json)
Resource(./match_jsons/238.json)
Resource(./match_jsons/239.json)
Resource(./match_jsons/240.json)
Resource(./match_jsons/241.json)
Resource(./match_jsons/242.json)
Resource(./match_jsons/243.json)
Resource(./match_jsons/244.json)
Resource(./match_jsons/245.json)
Resource(./match_jsons/246.json)
Resource(./match_jsons/247.json)
Resource(./match_jsons/248.json)
Resource(./match_jsons/249.json)
Resource(./match_jsons/250.json)
Resource(./match_jsons/251.json)
Resource(./match_jsons/252.json)
Resource(./match_jsons/253.json)
Resource(./match_jsons/254.json)
Resource(./match_jsons/255.json)
Resource(./match_jsons/256.json)
Resource(./match_jsons/257.json)
Resource(./match_jsons/258.json)
Resource(./match_jsons/259.json)
Resource(./match_jsons/260.json)
Resource(./match_jsons/261.json)
Resource(./match_jsons/262.json)
Resource(./match_jsons/263.json)
Resource(./match_jsons/264.json)
Resource(./match_jsons/265.json)
Resource(./match_jsons/266.json)
Resource(./match_jsons/267.json)
Resource(./match_jsons/268.json)
Resource(./match_jsons/269.json)
Resource(./match_jsons/270.json)
Resource(./match_jsons/271.json)
Resource(./match_jsons/273.json)
Resource(./match_jsons/275.json)
Resource(./match_jsons/277.json)
Resource(./match_jsons/279.json)
Resource(./match_jsons/281.json)
Resource(./match_jsons/283.json)
Resource(./match_jsons/285.json)
Resource(./match_jsons/287.json)
Resource(./match_jsons/289.json)
Resource(./match_jsons/291.json)
Resource(./match_jsons/293.json)
Resource(./match_jsons/295.json)
Resource(./match_jsons/297.json)
Resource(./match_jsons/299.json)
Resource(./match_jsons/301.json)
Resource(./match_jsons/303.json)
Resource(./match_jsons/305.json)
Resource(./match_jsons/307.json)
Resource(./match_jsons/309.json)
Resource(./match_jsons/311.json)
Resource(./match_jsons/313.json)
Resource(./match_jsons/315.json)
Resource(./match_jsons/317.json)
Resource(./match_jsons/319.json)
Resource(./match_jsons/321.json)
Resource(./match_jsons/323.json)
Resource(./match_jsons/325.json)
Resource(./match_jsons/327.json)
Resource(./match_jsons/329.json)
Resource(./match_jsons/331.json)
Resource(./match_jsons/332.json)
Resource(./match_jsons/333.json)
Resource(./match_jsons/334.json)
Resource(./match_jsons/335.json)
Resource(./match_jsons/336.json)
Resource(./match_jsons/337.json)
Resource(./match_jsons/338.json)
Resource(./match_jsons/339.json)
Resource(./match_jsons/340.json)
Resource(./match_jsons/341.json)
Resource(./match_jsons/342.json)
Resource(./match_jsons/343.json)
Resource(./match_jsons/344.json)
Resource(./match_jsons/345.json)
Resource(./match_jsons/346.json)
Resource(./match_jsons/347.json)
Resource(./match_jsons/348.json)
Resource(./match_jsons/349.json)
Resource(./match_jsons/350.json)
Resource(./match_jsons/351.json)
Resource(./match_jsons/352.json)
Resource(./match_jsons/353.json)
Resource(./match_jsons/354.json)
Resource(./match_jsons/355.json)
Resource(./match_jsons/356.json)
Resource(./match_jsons/357.json)
Resource(./match_jsons/358.json)
Resource(./match_jsons/359.json)
Resource(./match_jsons/360.json)
Resource(./match_jsons/361.json)
Resource(./match_jsons/362.json)
Resource(./match_jsons/363.json)
Resource(./match_jsons/364.json)
Resource(./match_jsons/365.json)
Resource(./match_jsons/366.json)
Resource(./match_jsons/367.json)
Resource(./match_jsons/368.json)
Resource(./match_jsons/369.json)
Resource(./match_jsons/370.json)
Resource(./match_jsons/371.json)
Resource(./match_jsons/372.json)
Resource(./match_jsons/373.json)
Resource(./match_jsons/374.json)
Resource(./match_jsons/375.json)
Resource(./match_jsons/376.json)
Resource(./match_jsons/377.json)
Resource(./match_jsons/378.json)
Resource(./match_jsons/379.json)
Resource(./match_jsons/380.json)
Resource(./match_jsons/381.json)
Resource(./match_jsons/382.json)
Resource(./match_jsons/383.json)
Resource(./match_jsons/384.json)
Resource(./match_jsons/385.json)
Resource(./match_jsons/386.json)
Resource(./match_jsons/387.json)
Resource(./match_jsons/388.json)
Resource(./match_jsons/389.json)
Resource(./match_jsons/390.json)
Resource(./match_jsons/395.json)
Resource(./match_jsons/396.json)
Resource(./match_jsons/397.json)
Resource(./match_jsons/398.json)
Resource(./field/A11.csv)
Resource(./field/A13.csv)
Resource(./field/A15.csv)
Resource(./field/A17.csv)
Resource(./field/A21.csv)
Resource(./field/A25.csv)
Resource(./field/B11.csv)
Resource(./field/B13.csv)
Resource(./field/B15.csv)
Resource(./field/B17.csv)
Resource(./field/B21.csv)
Resource(./field/B25.csv)
Resource(./field/C11.csv)
Resource(./field/C13.csv)
Resource(./field/C15.csv)
Resource(./field/C17.csv)
Resource(./field/C21.csv)
Resource(./field/C25.csv)
Resource(./matches.csv)
Resource(SourceHanSansJP-Bold.otf)
Resource(SourceHanSansJP-Medium.otf)

/* examples 

	//
	// Define your resource path inside `Resource()` macro.
	// No double quotation marks and white spaces may appear.
	//
	Resource(example/siv3d-kun.png)		// ok
	Resource(example/windmill.png)		// ok
	Resource(assets/a b c.txt)			// error: contains white spaces
	Resource("example/windmill.png")	// error: contains double quotation marks

	//
	// If your file contains a white space, define the identifier without using Resource() macro.
	//
	MYIDENTIFIER_1 FILE "assets/a b c.txt"
	MYIDENTIFIER_2 FILE "level 1/map.dat"
*/
